[Unit]
Description=Check for APT package updates

[Service]
Type=simple
ExecStartPre=/usr/bin/test -d /home/yodal/.cache
ExecStart=/bin/sh -c '/usr/lib/update-notifier/apt-check 2> /home/yodal/.cache/apt-updates'
KillMode=control-group
