[Unit]
Description=Check for low battery and notify if low or critical

[Timer]
OnActiveSec=10 min
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
