[Unit]
Description=Update the background based on the time

[Service]
Type=simple
Environment=DISPLAY=:0 XAUTHORITY=%h/.Xauthority
ExecStartPre=/usr/bin/test -d %h/.local/share/backgrounds/8BitDay/
ExecStartPre=%h/.local/share/backgrounds/8BitDay/set.py
ExecStart=/usr/bin/feh --no-fehbg --bg-fill %h/.local/share/backgrounds/8BitDay/now.png
